= simple_form_for guest do |f|
  = render partial: "shared/form_errors", locals: {record: guest}

  = f.input :full_name
  = f.input :display_name
  = f.input :invited_count
  = f.input :custom_message
  .actions
    = f.button :submit