%h1 Listing guests

- content_for :top_buttons do
  = link_to "New Guest", new_guest_path, class: top_button_class

%table.table.table-striped.datatable
  %thead
    %tr
      %th Name
      %th Invited Count
      %th RSVP
      %th Actions
  %tbody
    - @guests.each do |guest|
      %tr
        %td= guest.full_name
        %td= guest.invited_count
        %td= " - "
        %td
          .links
            = link_to 'Show', guest
            = link_to 'Edit', edit_guest_path(guest)
            = link_to 'Destroy', guest, :method => :delete, :data => { :confirm => 'Are you sure?' }

