- content_for :top_buttons do
  = link_to "Edit", edit_guest_path(@guest), class: top_button_class
  - if @guest.rsvp.present?
    = link_to "Edit RSVP", edit_guest_rsvp_path(@guest, @guest.rsvp), class: top_button_class
  - else
    = link_to "Create RSVP", new_guest_rsvp_path(@guest), class: top_button_class

%h1= @guest.full_name
.well
  = display_field("Display Name", @guest.display_name)
  = display_field("Invited Count", @guest.invited_count.to_s)
  .hidden= display_field("Custom Message", @guest.custom_message)
  .hidden= display_field("Custom RSVP Code", @guest.custom_rsvp_code)
