= simple_form_for @admin do |f|
  = render partial: "shared/form_errors", locals: {record: @admin}
  = f.input :email
  - if @admin.new_record?
    = f.input :password
    = f.input :password_confirmation
  .actions
    = f.button :submit