%h1 Editing Password

.well
  = simple_form_for current_admin, url: { action: "update_password" } do |f|
    - if current_admin.errors.any?
      #error_explanation
        %h2
          = pluralize(current_admin.errors.count, "error")
          prohibited this post from being saved:
        %ul
          - current_admin.errors.full_messages.each do |message|
            %li= message
    = f.input :current_password, hint: "We need your current password to confirm your changes"
    %hr
    = f.input :password, autocomplete: "off"
    = f.input :password_confirmation
    .actions
      = f.button :submit

.links
  = link_to 'Show', current_admin
  = link_to 'Back', all_admin_path
