%section#photos
  .container
    .row
      .col-md-4
        %h2 Wedding Gallery
        %p Here's some of our favorite pictures together from either our engagement photo shoot or our adventures around the world.
      / break
      .col-md-8
        #wedding-photo.carousel.slide{"data-ride" => "carousel"}
          .carousel-inner
            - i = 1
            - photo_count = 21
            - while i <= photo_count
              .item{class: "#{i == 1 ? "active" : ""}"}
                .row
                  - unless i > photo_count
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInLeftBig
                      %a.gallery-images{href: image_path("gallery#{i}.jpg")}
                        .photo-gallery{:style => "background: url(assets/gallery#{i}.jpg);"}
                        - i += 1
                  - unless i > photo_count
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInDownBig
                      %a.gallery-images{:href => image_path("gallery#{i}.jpg")}
                        .photo-gallery{:style => "background: url(assets/gallery#{i}.jpg);"}
                        - i += 1
                  - unless i > photo_count
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInRightBig
                      %a.gallery-images{:href => image_path("gallery#{i}.jpg")}
                        .photo-gallery{:style => "background: url(assets/gallery#{i}.jpg);"}
                        - i += 1

          %a.left.carousel-control{"data-slide" => "prev", :href => "#wedding-photo"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#wedding-photo"}
            %span.glyphicon.glyphicon-chevron-right