%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.visible-xs{:href => "#home"} Emily & Mitch

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#home"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#ceremony"} Guest Info
        %li
          %a{:href => "#to-do"} Things to do
        %li
          %a{:href => "#photos"} Photos
        %li
          %a{:href => "#story"} Story
        %li
          %a{:href => "#contact"} Contact
        %li
          =link_to "RSVP", rsvp_code_path

= render partial: "home_section"
= render partial: "about_section"
= render partial: "ceremony_section"
= render partial: "to_do"
= render partial: "gallery"
= render partial: "story"
= render partial: "contact"
= render partial: "footer"