!!!
%html
  %head
    = render partial: "layouts/header_contents"
  %body#admin
    = render partial: 'layouts/admin_header'
    = render partial: 'shared/flash', locals: {flash: flash}
    #admin-containter.row
      - if content_for? :top_buttons
        .text-right.top-buttons
          = content_for :top_buttons
      .col-xs-12
        = yield